In [1]:
#a
import pandas as pd

# Load the data
data = pd.read_csv('edited_cancer.csv')

# Convert the cancer probability to a categorical variable
bins = pd.IntervalIndex.from_tuples([(min(data['prob_cancer']), 0.2),
                                     (0.2, 0.4),
                                     (0.4, 0.6),
                                     (0.6, 0.8),
                                     (0.8, max(data['prob_cancer']))])
data['cancer_category'] = pd.cut(data['prob_cancer'], bins, labels=['very low', 'low', 'moderate', 'high', 'very high'])

print(data.shape)
data.head()

(385, 12)

,user_id,weight,height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month,prob_cancer,cancer_category
0,55,140.0,69.0,0.0,NaN,Below average,2.0,0.0,Never,2008.09,0.066120,"(0.004486346, 0.2]"
1,36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09,0.366939,"(0.2, 0.4]"
2,39,105.0,66.0,0.0,2.0,Average,1.0,0.0,Never,2008.09,0.805540,"(0.8, 0.998722287]"
3,37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09,0.537907,"(0.4, 0.6]"
4,72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09,0.098464,"(0.004486346, 0.2]"

In [2]:
#b
# Replace missing values in the height column with the mean value
mean_height = data['height'].mean()
data['height'].fillna(mean_height, inplace=True)
print(data.shape)
data.head()

(385, 12)

,user_id,weight,height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month,prob_cancer,cancer_category
0,55,140.0,69.0,0.0,NaN,Below average,2.0,0.0,Never,2008.09,0.066120,"(0.004486346, 0.2]"
1,36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09,0.366939,"(0.2, 0.4]"
2,39,105.0,66.0,0.0,2.0,Average,1.0,0.0,Never,2008.09,0.805540,"(0.8, 0.998722287]"
3,37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09,0.537907,"(0.4, 0.6]"
4,72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09,0.098464,"(0.004486346, 0.2]"

In [3]:
#c
# Remove rows with empty or invalid data in the current_smoking column
data.dropna(subset=['current_smoking'], inplace=True)
print(data.shape)
data.head()

(377, 12)

,user_id,weight,height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month,prob_cancer,cancer_category
0,55,140.0,69.0,0.0,NaN,Below average,2.0,0.0,Never,2008.09,0.066120,"(0.004486346, 0.2]"
1,36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09,0.366939,"(0.2, 0.4]"
2,39,105.0,66.0,0.0,2.0,Average,1.0,0.0,Never,2008.09,0.805540,"(0.8, 0.998722287]"
3,37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09,0.537907,"(0.4, 0.6]"
4,72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09,0.098464,"(0.004486346, 0.2]"

In [4]:
#d
# Fill missing values in other columns with the mean value
data.fillna(data.mean(), inplace=True)
print(data.shape)
data.head()

(377, 12)

<ipython-input-4-afc174e654ff>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.fillna(data.mean(), inplace=True)

,user_id,weight,height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month,prob_cancer,cancer_category
0,55,140.0,69.0,0.0,2.140921,Below average,2.0,0.0,Never,2008.09,0.066120,"(0.004486346, 0.2]"
1,36,150.0,67.0,2.0,1.000000,Below average,3.0,3.0,Never,2008.09,0.366939,"(0.2, 0.4]"
2,39,105.0,66.0,0.0,2.000000,Average,1.0,0.0,Never,2008.09,0.805540,"(0.8, 0.998722287]"
3,37,220.0,77.0,2.0,5.000000,Very healthy,5.0,5.0,Never,2008.09,0.537907,"(0.4, 0.6]"
4,72,135.0,62.0,0.0,1.000000,Unhealthy,0.0,0.0,Never,2008.09,0.098464,"(0.004486346, 0.2]"

In [5]:
#e
# Remove unnecessary columns
data.drop(['user_id', 'prob_cancer'], axis=1, inplace=True)
print(data.shape)
data.head()

(377, 10)

,weight,height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month,cancer_category
0,140.0,69.0,0.0,2.140921,Below average,2.0,0.0,Never,2008.09,"(0.004486346, 0.2]"
1,150.0,67.0,2.0,1.000000,Below average,3.0,3.0,Never,2008.09,"(0.2, 0.4]"
2,105.0,66.0,0.0,2.000000,Average,1.0,0.0,Never,2008.09,"(0.8, 0.998722287]"
3,220.0,77.0,2.0,5.000000,Very healthy,5.0,5.0,Never,2008.09,"(0.4, 0.6]"
4,135.0,62.0,0.0,1.000000,Unhealthy,0.0,0.0,Never,2008.09,"(0.004486346, 0.2]"

In [6]:
from sklearn.preprocessing import LabelEncoder
cols=['healthy_diet','current_smoking', 'cancer_category']
la= LabelEncoder()
for i in cols:
    data[i] = la.fit_transform(data[i])
data.head()

,weight,height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month,cancer_category
0,140.0,69.0,0.0,2.140921,1,2.0,0.0,3,2008.09,0
1,150.0,67.0,2.0,1.000000,1,3.0,3.0,3,2008.09,1
2,105.0,66.0,0.0,2.000000,0,1.0,0.0,3,2008.09,4
3,220.0,77.0,2.0,5.000000,4,5.0,5.0,3,2008.09,2
4,135.0,62.0,0.0,1.000000,3,0.0,0.0,3,2008.09,0

In [7]:
data = data.dropna()

In [8]:
#f
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split the data into training and testing sets
X = data.drop(['cancer_category'], axis=1)
y = data['cancer_category']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Standardize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
y

0      0
1      1
2      4
3      2
4      0
      ..
380    3
381    4
382    2
383    0
384    5
Name: cancer_category, Length: 377, dtype: int64

In [24]:
#g
from sklearn.neighbors import KNeighborsClassifier

# Train the data using KNN with k=5
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# Classify the test data
y_pred = knn.predict(X_test)

In [25]:
#h
from sklearn.metrics import confusion_matrix, r2_score, accuracy_score

# Calculate the confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

# Calculate the R2 score
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)

# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Confusion Matrix:
[[ 7  4  5  4  4  0]
 [ 9  6  7  4  0  0]
 [ 4  7  5  2  6  0]
 [ 8  4  2  1  0  0]
 [12  5  3  2  1  0]
 [ 0  1  0  0  1  0]]
R2 Score: -1.2833256252445837
Accuracy: 0.17543859649122806